.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 25px;
  max-width: 1300px;
  margin: 0 auto;
}

.category-container {
  flex: 1 1 calc(33.33% - 10px);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.category-container:hover {
  transform: scale(1.03);
  filter: brightness(0.9);
}

.category-body {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 15px 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.category-body h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.category-body p {
  font-size: 16px;
  margin-top: 5px;
}

.category-container:nth-child(4),
.category-container:nth-child(5) {
  flex: 1 1 calc(50% - 10px);
  height: 350px;
}


@media (max-width: 1024px) {
  .category-container {
    flex: 1 1 calc(45% - 10px);
    height: 250px;
  }
  .category-container:nth-child(4),
  .category-container:nth-child(5) {
    flex: 1 1 100%;
  }
}


@media (max-width: 768px) {
  .category-container {
    flex: 1 1 100%;
    height: 220px;
  }
  .category-body {
    padding: 10px 20px;
  }
}
